# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_pd = pd.read_csv("../output_data/cities.csv")
cities_pd.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Avarua,85,CK,1593866720,94,-21.21,-159.78,22.00,2.10
1,1,Punta Arenas,75,CL,1593866775,93,-53.15,-70.92,2.00,2.60
2,2,Tuktoyaktuk,100,CA,1593866776,97,69.45,-133.04,1.45,5.92
3,3,Piaçabuçu,29,BR,1593866776,66,-10.41,-36.43,26.77,3.99
4,4,Cape Town,40,ZA,1593866679,68,-33.93,18.42,18.33,5.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)
gmaps.Map()

Map(configuration={'api_key': 'AIzaSyBI1nNhQOcsLfIPKneAcD8wNSI0m37W8Fw'}, data_bounds=[(46.2, 6.1), (47.2, 7.1…

In [5]:
# Store Lat and Lng for locations
locations = cities_pd[["Lat","Lng"]].astype(float)
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lat     577 non-null    float64
 1   Lng     577 non-null    float64
dtypes: float64(2)
memory usage: 9.1 KB

In [6]:
# Store humidity for weight
humidity_df = cities_pd[['Humidity']].astype(float)
humidity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Humidity  577 non-null    float64
dtypes: float64(1)
memory usage: 4.6 KB

In [7]:
# Plot Heatmap
figure_layout = {
    'width': '1000px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [8]:
# Create heatmap layer
locations = cities_pd[['Lat', 'Lng']]
weights = cities_pd['Humidity']
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))
heat_layer = (gmaps.heatmap_layer(locations, weights=weights, max_intensity=100, point_radius= 5))
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
narrowed_city_df = cities_pd.loc[(cities_pd["Max Temp"] > 24) & (cities_pd["Max Temp"] < 29) 
                                 & (cities_pd["Humidity"] > 30) & (cities_pd["Humidity"] < 60 ) 
                                 & (cities_pd["Wind Speed"] < 9) & (cities_pd["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,25,Xique-Xique,0,BR,1593866786,52,-10.82,-42.73,26.55,7.89
1,65,Masallātah,0,LY,1593866805,58,32.62,14.00,27.85,8.19
2,73,Kodinsk,0,RU,1593866809,45,58.69,99.18,26.89,2.33
3,109,São Félix do Xingu,0,BR,1593866826,52,-6.64,-51.99,28.64,1.65
4,217,Montepuez,0,MZ,1593866665,31,-13.13,39.00,27.56,4.42
5,280,Talant,0,FR,1593866918,36,47.34,5.01,25.00,4.10
6,289,Nouadhibou,0,MR,1593866705,57,20.93,-17.03,27.00,7.20
7,343,Khromtau,0,KZ,1593866956,36,50.25,58.43,27.42,5.10
8,357,São Miguel do Araguaia,0,BR,1593866965,41,-13.28,-50.16,27.95,2.09
9,421,João Pinheiro,0,BR,1593866994,49,-17.74,-46.17,24.21,3.45
10,428,Aripuanã,0,BR,1593867001,55,-9.17,-60.63,28.30,0.57
11,471,Alta Floresta,0,BR,1593867020,48,-9.88,-56.09,26.78,2.05
12,516,Poconé,0,BR,1593867042,50,-16.26,-56.62,25.06,1.57

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# Store into variable named hotel_df.
hotel_df = narrowed_city_df

In [11]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ""

In [12]:
# Set parameters to search for hotels with 5000 meters.
params = {
        "radius": 5000,
        "type" : "lodging",
        "keyword": "Hotel",
        "key": g_key
}

# Hit the Google Places API for each city's coordinates.    
for index, row in hotel_df.iterrows():
    # get lat, lng from hotel_df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # assemble url and make API request
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"  
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
    # Store the first Hotel result into the DataFrame.
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Closest hotel is Xique Xique Palace Hotel.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Closest hotel is Apart Hotel Rio Xingu.
------------
Closest hotel is RESIDÊNCIAL LANCHONETE.
------------
Closest hotel is Grand Hôtel La Cloche Dijon - MGallery.
------------
Closest hotel is Free Zone Hotel Nouadhibou.
------------
Closest hotel is Gostinitsa Khromit.
------------
Closest hotel is Hotel Veredas do Araguaia.
------------
Closest hotel is Esplanada Hotel.
------------
Missing field/result... skipping.
------------
Closest hotel is Hotel Mandino.
------------
Closest hotel is Hotel Chalana.
------------

In [13]:
# Clean up results where no hotels were identified

nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,25,Xique-Xique,0,BR,1593866786,52,-10.82,-42.73,26.55,7.89,Xique Xique Palace Hotel
3,109,São Félix do Xingu,0,BR,1593866826,52,-6.64,-51.99,28.64,1.65,Apart Hotel Rio Xingu
4,217,Montepuez,0,MZ,1593866665,31,-13.13,39.00,27.56,4.42,RESIDÊNCIAL LANCHONETE
5,280,Talant,0,FR,1593866918,36,47.34,5.01,25.00,4.10,Grand Hôtel La Cloche Dijon - MGallery
6,289,Nouadhibou,0,MR,1593866705,57,20.93,-17.03,27.00,7.20,Free Zone Hotel Nouadhibou
7,343,Khromtau,0,KZ,1593866956,36,50.25,58.43,27.42,5.10,Gostinitsa Khromit
8,357,São Miguel do Araguaia,0,BR,1593866965,41,-13.28,-50.16,27.95,2.09,Hotel Veredas do Araguaia
9,421,João Pinheiro,0,BR,1593866994,49,-17.74,-46.17,24.21,3.45,Esplanada Hotel
11,471,Alta Floresta,0,BR,1593867020,48,-9.88,-56.09,26.78,2.05,Hotel Mandino
12,516,Poconé,0,BR,1593867042,50,-16.26,-56.62,25.06,1.57,Hotel Chalana

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)

# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…